
    #dashboard {

        padding-top: 1rem;
        padding-bottom: 5rem;

        display: flex;
        align-items: stretch;
        justify-content: space-between;

        flex-wrap: wrap;
        gap: 3rem;

        .card {

            flex: 1;
            flex-basis: 100%;

            .card-title {

                > div {
                    font-size: 2rem;
                    font-weight: bold;
                    color: var(--color-primary);
                    margin-bottom: 1.5rem;

                    display: flex;
                    align-items: center;
                    gap: .75rem;

                    i {
                        font-size: 2.4rem;
                        color: var(--color-primary);
                        margin-top: -.4rem; //correctly align middle
                    }
                }

            }


            &.card-payable {

                * { color: var(--color-text) !important; }

                background-color: var(--color-alternative);

            }

            &.card-receivable {

                * { color: var(--color-text) !important; }

                background-color: var(--color-secondary);

            }

            &.card-provided {

                * { color: var(--color-text) !important; }

                background-color: var(--color-primary);

            }

        }

        .stats-grid {

            display: grid;
            width: 100%;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 2rem;

            .card {
                display: flex;
                align-items: center;
                justify-content: space-between;

                strong {

                    flex: 1;

                    display: inline-flex;
                    align-items: center;
                    gap: 1rem;

                    font-size: 1.8rem;
                    font-weight: 600;
                    color: var(--color-primary);

                    i {
                        font-size: 2.2rem;
                    }

                }

                span {

                    font-size: 2rem;
                    font-weight: 600;

                }

            }

        }

    }
